body {
    margin: 0;
    font-size: 0;
    user-select: none;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.wrap {
    background-color: #dee1e6;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: .5s;
}

.headernone {
    transition: .5s;
    transform: translateY(-60px);
}

.heawrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log {
    color: #1677ff;
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}

.nav {
    width: 30%;
    height: 100%;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

.nav .item {
    width: 100px;
    height: 57px;
    position: relative;
}

.nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
    letter-spacing: 7px;
}

.nav .item::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #1677ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: .3s;
}

.nav .item:hover::after {
    left: 0%;
    width: 90%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 230px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0px 20px;
    border-radius: 20px;
    background-color: #f1f2f4;
}

.search input::placeholder {
    color: #b4b4b4;
    font-size: 12px;
}

.search span {
    display: inline-block;
    width: 55px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    padding-left: 5px;
    line-height: 30px;
    letter-spacing: 5px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #1677ff;
}

.search span:hover {
    background-color: #005ad8;
}

/* -----------内容区域---------- */
.main {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.top {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.focus {
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.focus::before {
    content: "";
    width: 5px;
    height: 26px;
    display: inline-block;
    position: relative;
    top: 3px;
    background-color: #f43636;
}

.swiper-container {
    width: 720px;
    height: 360px;
    margin-top: 20px;
    display: inline-block;
}

.swiper-slide img {
    transition: .5s;
}

.swiper-slide img:hover {
    transform: scale(1.03);
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 100px;
    height: 8px;
}

.box1 {
    width: 350px;
    height: 400px;
    position: relative;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    z-index: 1;
}

.box2 {
    width: 350px;
    height: 400px;
    position: absolute;
    left: -5px;
    top: -5px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    z-index: 2;
}

.box2 .label {
    width: 30px;
    height: 87px;
    color: #fff;
    font-size: 14px;
    padding: 10px 0 0 6px;
    letter-spacing: 10px;
    position: absolute;
    left: -30px;
    top: -3px;
    border-radius: 5px;
    background-color: #ee6969;
    box-shadow: 3px 5px 10px #919191;
}

.box3 {
    width: 350px;
    height: 400px;
    position: absolute;
    left: -4px;
    top: -4px;
    font-size: 16px;
    padding-left: 45px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    z-index: 3;
}

.box3 .newslist {
    display: inline-block;
    width: 270px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #d1d1d1;
}

.tabs {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category {
    width: 250px;
    height: 120px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    line-height: 120px;
    background-color: #fff;
    border-radius: 5px;
    transition: .5s;
    background-repeat: no-repeat;
    background-size: cover;
}

.ca1 {
    background-image: url(./img/fl00.jpg);
}

.ca2 {
    background-image: url(./img/fl02.jpg);
}

.ca3 {
    background-image: url(./img/fl03.jpg);
}

.ca4 {
    background-image: url(./img/fl04.jpg);
}

.category:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(122, 122, 122);
}

.toptitle {
    color: black;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.toptitle::before {
    content: "";
    width: 5px;
    height: 26px;
    display: inline-block;
    position: relative;
    top: 3px;
    background-color: #f43636;
}

.toplist {
    max-width: 1170px;
    height: 80px;
    padding: 15px;
    font-size: 22px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: #fff;
    transition: .3s;
}

.toplist:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 7px #b6b5b5;
}

.addlist {
    width: 180px;
    height: 40px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: #1677ff;
    cursor: pointer;
    transition: .3s;
}
.addlist:hover{
    background-color: #005ad8;
}