*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(145, 145, 145);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 100;
}

.circle1, .circle2{
    width: 30px;
    height: 30px;
    background: #7bed9f;
    border-radius: 50%;
}

.circle1{
    transform: translateY(100%);
}

.circle2{
    animation: ripple 3s ease-in-out infinite;
}

@keyframes ripple{
    0%{
        opacity: 1;
        transform: scale(1.0);
    }
    100%{
        opacity: 0;
        transform: scale(1.8);
    }
}

h2{
    font-size: 45px;
    font-weight: bold;
    margin: 10px;
}

h2 span{
    font-size: 30px;
}

p{
    font-size: 20px;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    height: 100vh;
}

.container > div{
    cursor: pointer;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in;
}

.container > div:hover{
    opacity: 0.8;
    transform: scale(0.99);
}

.container > div:nth-of-type(1){
    grid-column: 1 / 3;
}

.container > div:nth-of-type(6){
    grid-column: 3 / 5;
}

.container > div:nth-of-type(9){
    grid-column: 3 / 5;
}

.container > div:nth-of-type(10){
    grid-column: 1 / 3;
}

.bg1{
    background-image: url('./img/wallhaven-680882.jpg');
    color: rgb(42, 209, 126);
}

.bg2{
    background-image: url('./img/wallhaven-682729.jpg');
}